[submodule "submodules/halparser-android"]
	path = submodules/halparser-android
	url = git://github.com/xaethos/halparser-android.git
[submodule "submodules/cwac-merge"]
	path = submodules/cwac-merge
	url = git://github.com/xaethos/cwac-merge.git
